@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.video {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 70rem;
  width: 100%;
  padding: 5rem 1.5rem;

  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 0;
}

.form {
  display: flex;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.input-note {
  display: block;
  width: 100%;
  background: transparent;

  padding: 1rem 2rem;
  outline: none;
  border: none;

  font-size: 2.4rem;
  font-family: inherit;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

.btn {
  font-size: 3rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s;
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-note:focus,
.input-note:focus + button {
  background-color: rgba(255, 255, 255, 0.8);
}

.input-note::placeholder {
  color: #000000bb;
}

.notes {
  font-size: 1.8rem;
  color: #f3f3f3;

  display: grid;
  row-gap: 1.5rem;
  line-height: 1.3;

  overflow-y: auto;
  border-radius: 10px;
}

.notes::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #aaa;
}

.notes::-webkit-scrollbar {
  width: 0.8rem;
}

.note {
  padding: 3rem;
  border-radius: 10px;
  position: relative;
}

.notes .note:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.2);
}

.notes .note:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-delete {
  font-size: 1.8rem;
  color: #f3f3f3;
  position: absolute;

  top: 0.5rem;
  right: 0;

  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.3s;
}

.note:hover .btn-delete {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  fill: #f3f3f3;
}
